@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #01095a;
  width: 100%;
  line-height: 1;
  overflow-x: hidden;
}

:root {
  --white: #ffffff;
  --second-text: rgba(182, 190, 189, 1);
  --black: #212429;
  --Catfiles: "Catfiles Regular", sans-serif;
  --Orange: linear-gradient(8.6deg, #B5360C 6.57%, #DD5919 93.43%);
}

.bounce-effect {
  animation: bounce 1s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-1%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* max-w-96 !bg-gray-900 shadow-lg rounded-lg pointer-events-auto flex ring-1 ring-black ring-opacity-5 text-white */
.notification {
  background-color: rgb(46, 43, 43);
  color: white;
  border-radius: 10px;
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}