@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #01095a;
  width: 100%;
  line-height: 1;
  overflow-x: hidden;
}

:root {
  --white: #ffffff;
  --second-text: rgba(182, 190, 189, 1);
  --black: #212429;
  --Catfiles: "Catfiles Regular", sans-serif;
  --Orange: linear-gradient(8.6deg, #B5360C 6.57%, #DD5919 93.43%);
}